@import '../../style/color.less';

body {
  background-color: rgba(239, 243, 246);
}

.login_title {
  font-size: 2rem;
  color: #color[themeColor];
}

.login_div {
  background-color: white;
  // background-color: blue;
  // border-radius: 0.5rem;
  // padding: 4rem;
  // padding: 60px;
  padding: 3.75rem;

  position: absolute;
  // width: 25rem;
  // height: 25rem;
  width: 26.25rem;
  height: 26.25rem;
  left: 50%;
  top: 50%;
  // margin-left: -16.5rem;
  // margin-top: -16.5rem;
  // margin-left: -210px;
  margin-top: -13.125rem;
  margin-left: -13.125rem;
}

.login_div_form {
  background-color: transparent;
  margin-top: 3.125rem;
}

.login_div_cp {
  text-align: center;
  color: #color[copyrightColor];

  &:hover {
    color: #color[themeColor];
    cursor: default;
  }
}
