@import '../../style/color.less';

body {
  background-color: rgba(239, 243, 246);
}

.login_div {
  background-color: white;
  padding: 3.75rem;

  border-radius: 0.5rem;

  position: absolute;
  width: 26.26rem;
  height: 26.25rem;
  left: 50%;
  top: 50%;
  margin-top: -13.125rem;
  margin-left: -13.125rem;
}

.login_title {
  color: #color[theme];
}

.login_form {
  background-color: transparent;
  margin-top: 3.125rem;
}
