@import '../../component/style/color.less';

body {
  // background-color: #color[background];
  background-color: rgba(239, 243, 246);
}

.title {
  color: #color[themeColor];
}

.div_login_form {
  // background-color: rgba(231, 234, 237);
  background-color: white;
  border-radius: 5px;
  padding: 60px;

  position: absolute;
  width: 420px;
  height: 420px;
  left: 50%;
  top: 50%;
  margin-left: -210px;
  margin-top: -210px;
}

.login_form {
  background-color: transparent;
  margin-top: 50px;
  ;
}

.cp {
  text-align: center;
  color: #color[copyrightColor];

  &:hover {
    color: #color[themeColor];
    cursor: default;
  }
}